flask
pycryptodome
boto3
aiohttp
requests
asyncio
gunicorn
PyMuPDF
pandas
openpyxl
pyexcel 
pyexcel-ods
google-auth
google-auth-oauthlib
google-auth-httplib2
redis 
Flask-Limiter[redis]
flask_httpauth
flask-cors
google-cloud-pubsub
google-cloud-storage
google-cloud-aiplatform
openai
pyarmor
cython
pinecone-client==3.0.0
langchain-core
langchain-community
langchain
langchainhub
langchain-openai
langchain-pinecone==0.0.3
langchain-groq==0.1.5
bs4
langchain-google-vertexai
anthropic[vertex]
tiktoken
google-genai
typing-extensions
pydantic
google-cloud-firestore

