pinecone[grpc]==5.3.1
Pillow==10.3.0
langchain-text-splitters==0.0.1
langchain_community==0.0.31
atlassian-python-api==3.41.11
bs4==0.0.2
html5lib==1.1
xlrd==2.0.1
lxml==5.2.1
pytesseract==0.3.10
markdownify==0.12.1
docx2txt==0.8
reportlab==4.1.0
svglib==1.5.1
sendgrid
pdf2image==1.17.0
pycairo==1.26.0
matplotlib==3.8.4
rlPyCairo==0.3.0
timeout_decorator
pinecone-client==3.1.0
tiktoken==0.7.0
requests==2.31.0
psycopg2-binary
google-cloud-pubsub
google-cloud-storage
google-cloud-aiplatform
google-cloud-firestore
google-auth
google-auth-oauthlib
google-auth-httplib2
redis 
asyncio
gunicorn
boto3
aiohttp
flask
