flask
aiohttp
requests
asyncio
gunicorn
google-auth
google-auth-oauthlib
google-auth-httplib2
redis 
Flask-Limiter[redis]
flask_httpauth
google-cloud-pubsub
google-cloud-storage
google-cloud-aiplatform
google-cloud-firestore
psycopg2-binary
python-dateutil
flask-cors
google-genai